<div style="background-color: white" style="font-type: 'Typeface'"><br>
<br>


  <p  align="center" style="margin-right: 36pt; margin-left: 36pt; margin-top: 30pt; color: #5D5D5D;  font-size: 16pt; padding: 0pt">
            INDICA EL TIPO DE REPORTE:
        </p>
  <hr>
<table align="center" cellspacing="5" cellpadding="5" border="0" style="border: none; border-collapse: collapse;">
  <a >POSITIVO</a>
  <tr>
  <td>

    <img src="assets/parking.png" (click)="withParking($event)"/>

  </td>
  <td>
    <img src="assets/ramp.png" (click)="withRamp($event)"/>
  </td>
  </tr>
  <tr>
    <td> <br/></td>
  </tr>
  <a>NEGATIVO</a>
  <tr>
    <td>
      <img src="assets/noparking.png" (click)="noParking($event)"/>
    </td>
    <td>

      <img src="assets/noramp.png" (click)="noRamp($event)"/>
    </td>
  </tr>
  </table>
</div>

<br>
<br><br>
   <div align="center">
      <button (click)="goback($event)" style="background-color: #FB380A; color: white;
      border-radius: 8pt;
      height: 45pt;
      width: 222pt;
      font-size: 20pt; line-height: 23pt; letter-spacing: 0.2pt;" class="login-button btn">Cancelar</button>
   </div>


