.controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        position: relative;
        left: 45%;
        top: 3%;
        width: 30%
      }


.login-inputs{
 border-radius: 8pt;
 height: 45pt;
 width: 323pt;
 margin-right: 10pt;
}
​
.login-button{
 background-color: #FB380A;
 color: white;
 border-radius: 8pt;
 height: 45pt;
 width: 322pt;
  font-size: 20pt; line-height: 23pt; letter-spacing: 0.2pt;
}


