<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>

<agm-map (mapReady)="mapReady($event)"  [latitude]="lat" [longitude]="lng"  [zoom]="zoom">
  <agm-marker
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [iconUrl]="m.icon"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">

    <button id="Settings" (click)="buttonClick($event)" style="background-color: Transparent" style="background-size: 100%;"><img src="assets/reportar.png" /></button>
    <!--<input id="Map-Search" class="controls"  placeholder="Search Box" >-->



    <agm-info-window>
      <img src="assets/resume.png" height="125" width="250"/>
    </agm-info-window>
  </agm-marker>



</agm-map>


